<div class="container" style="text-align:center">
  <h1>
    Co nieco o aplikacji Centylowanie !
  </h1>

  <p>
    Aplikacja Centylowanie umożliwia rodzicom śledzenie rozwoju fizycznego dzieci od pierwszego dnia życia do piątego roku.
  </p>

  <p>
    Podstawowe funkcje aplikacji to obliczenia pojedynczego wyniku dla danych odpowiadajacych jednej z dziewięciu kategorii :</p>

  <p>długość/wysokość dla wieku  </p>
  <p> waga dla wieku</p>
  <p> waga dla wysokości (dla dzieci od 2 roku życia)</p>
  <p>  waga dla długości (dla dzieci od 2 roku życia)</p>
  <p>  BMI dla wieku</p>
  <p> obwód głowy dla wieku</p>
  <p> obwód ramienia dla wieku</p>
  <p> triceps skinfold dla wieku</p>
  <p> subscapular skinfold dla wieku</p>

  <p>  Aby obliczy centyl należy wybrać opcje „Oblicz centyl dla dziecka” i wprowadzić wymagane parametry pomiaru. Wynik prezentowy jest na wykresie z danymi statycznymi badanych dzieci.

    Ponadto w podstawowych funkcjach mamy do wyboru opcje „przeglądaj wykresy statystyczne” gdzie dostępne są wykresy dla wszystkich kategorii pomiarów.
  </p>

  <p>
    Wszystkie dane statystyczne wykorzystane w aplikacji pochodzą se strony WHO – światowej organizacji zdrowia i są utworzone na podstawie badan przeprowadzonych przez te organizacje.

    Wersja aplikacji dla zarejestrowanego użytkowania pozwala na utworzenie profili dzieci i śledzenie ich rozwoju w postaci wykresu a także danych tabelarycznych. Ponadto w przypadku zarejestrowania więcej niż jednego dziecka mamy możliwość porównania wykresów rozwoju dzieci ze sobą.
  </p>
</div>
