@import '../../../scss/variables';
@import '../../../scss/navbar';
@import '../../../scss/masthead';
@import '../../../scss/contact';

.img-fluid{
  margin-top: 4em;
  max-height: 30em;
  :hover {
    opacity: 1;
  }
}



$theme-primary: #597386;
$theme-content: rgba(255, 255, 255, 0);
$theme-success: rgb(167, 202, 221);


.visit-card {
  overflow: hidden;
  width: 100%;
  background-color: $theme-success;
  text-align: center;
  margin: auto;
  color: white;
  list-style-type: none;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}

input {
  text-align: center;
}
